* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dubai', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #d6d4d4;
  font-size: 28px;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #050505;
}

.nav a:hover {
  color: rgb(209, 112, 0);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: auto;
}

.socials {
  padding: 20px;
  text-align: right;
  font-size: 14px;
}

.socials img {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

.osoite p {
  font-size: 30px;
  padding: 20px;
  text-align: right;
}

.hero {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-style: italic;
}

.hero p {
  font-size: 24px;
  color: #050505;
}

.lajimme h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-style: italic;
  text-align: center;
}

.lajit {
  text-align: center;
  padding: 30px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.icon {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.icon p {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

.icon img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  border: 2px solid #ce5504;
  border-radius: 8px;
  padding: 4px;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    font-size: 22px;
    padding: 10px;
  }

  .nav a {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  .logo-container {
    padding: 10px 0;
  }

  .hero {
    padding: 0 10px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    font-size: 16px;
  }

  .lajimme h2 {
    font-size: 1.6rem;
  }

  .icons {
    grid-template-columns: 1fr;
  }

  .icon img {
    height: auto;
  }

  .socials {
    text-align: center;
    padding: 10px;
  }

  .socials img {
    margin: 5px;
  }

  .osoite p {
    font-size: 18px;
    text-align: center;
  }
}
